.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: stretch;
  font-size: 16px;
  background-color: var(--color-dark-secondary);
  color: var(--color-light-primary);
}

.App-header {
  display: flex;
  height: 3rem;
  padding: 0 1rem;
  align-items: center;
  background-color: var(--color-dark-primary);
  color: var(--color-light-primary);
}
.App-header h1 {
  font-size: 1.5rem;
  margin: 0;
}

.App-link {
  color: #09d3ac;
}
