.GlyphKeyboard {
}

.GlyphKeyboard-controls,
.GlyphKeyboard-pages,
.GlyphKeyboard-glyphs,
.GlyphKeyboard-results {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  align-items: stretch;
}

.GlyphKeyboard-controls button {
  display: block;
  width: 3rem;
  height: 1.5rem;
  padding: 0;
}

.GlyphKeyboard-controls input {
  display: block;
  height: 100%;
}

.GlyphKeyboard-pages button {
  display: block;
  width: 3rem;
  height: 1.5rem;
  padding: 0;
  background: var(--color-light-primary);
  border: 1px solid transparent;
  cursor: pointer;
}

.GlyphKeyboard-pages button:hover,
.GlyphKeyboard-pages button.active {
  border-color: var(--color-dark-secondary);
}

.GlyphKeyboard-glyphs li,
.GlyphKeyboard-results li {
  background-color: var(--color-light-primary);
}

.GlyphKeyboard-glyphs button,
.GlyphKeyboard-results button {
  /* button-reset */
  background: none;
  border: none;
  cursor: pointer;

  color: var(--color-dark-primary);
  width: 3rem;
  padding: 0.25rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
}
